/***
 * file name : archive.css
 * description : archive style file
 * create date : 2018-06-25
 * creator : saltgamer
 ***/

#teacherArchive {
    position: absolute;
    top: 30px;
    right: 170px;
    z-index: 10;
}

.teacherArchiveButton_theme_el_art5, .teacherArchiveButton_theme_el_pra5,
.teacherArchiveButton_theme_el_mus5, .teacherArchiveButton_theme_el_phy5 {
    position: absolute;
    top: 0;
    left: -2px;
    width: 124px;
    height: 32px;
    background: #f2622d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f57e3e, #ee4e24); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f57e3e, #ee4e24); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f57e3e, #ee4e24); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f57e3e, #ee4e24); /* Standard syntax */

    /*box-shadow: 0 3px 5px 0 #ccc;*/
    text-shadow: 0 0 2px #333;
    cursor: pointer;

    border-radius: 15px;
    /*border: 3px solid #f1aba1;*/
    color: #fff;
    font-size: 16px;
    font-weight: 900;

    line-height: 35px;
    padding-left: 18px;

    transition: 2s;
}

.teacherArchiveButtonShadow_theme_el_art5, .teacherArchiveButtonShadow_theme_el_pra5,
.teacherArchiveButtonShadow_theme_el_mus5, .teacherArchiveButtonShadow_theme_el_phy5 {
    position: absolute;
    top: -2px;
    left: -4px;
    width: 146px;
    height: 36px;
    background: #f2622d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fbc7ab, #d74c27); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fbc7ab, #d74c27); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fbc7ab, #d74c27); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fbc7ab, #d74c27); /* Standard syntax */

    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.teacherArchiveMenu_theme_el_art5, .teacherArchiveButton_theme_el_pra5,
.teacherArchiveMenu_theme_el_mus5, .teacherArchiveButton_theme_el_phy5 {
    position: relative;
    top: -2px;
    width: 135px;
    background-color: #fff;
    /*padding-left: 10px;*/
    font-size: 14px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 0;
/*    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    border-radius: 15px;
    border: 3px solid #f2a297;
    /*box-shadow: 0 2px 5px 0 #aaa;*/

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

#teacherArchive .archiveItem {
    border-bottom: 1px solid #f2a297;
    line-height: 25px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 2px;

}

#teacherArchive .archiveItemIcon {
    width: 20px;
    float: left;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 2px;
}

#teacherArchive .archiveItemLabel:hover {
    color: #eb5c4c;
}