/***
 * file name : Theme.css
 * description : theme style file
 * create date : 2018-06-22
 * creator : saltgamer
 ***/



.artGirlBox {
    position: absolute;
    top: 412px;
    left: 435px;
}

.artGirl_body {
    position: absolute;

}

.artGirl_head {
    position: absolute;
    top: -97px;
    left: -26px;
    transform-origin: 50% 90%;
}

.artGirl_hand {
    position: absolute;
    left: -18px;
}

.artBoyBox {
    position: absolute;
    top: 431px;
    left: 113px;
}

.artBoy_body {
    position: absolute;
}

.artBoy_head {
    position: absolute;
    top: -82px;
    left: 14px;
    transform-origin: 50% 90%;
}

.artBoy_hand {
    position: absolute;
    left: 13px;
}

.swingBox {
    position: absolute;
    top: 162px;
    right: 184px;

}

.swing {
    position: absolute;
    transform-origin: 20% 10%;

}


/* mainAniTitle */
.bgPlant {
    position: absolute;
    bottom: 2px;
    right: 120px;
    width: 589px;
}

.monkeyBox {
    position: absolute;
    bottom: 0;
    right: 0;
}

.monkeyBody {
    position: absolute;
    bottom: 12px;
    right: 128px;
    width: 170px;
}

.monkeyHead {
    position: absolute;
    bottom: 156px;
    right: 205px;
    width: 130px;
}

.monkeyRightArm {
    position: absolute;
    bottom: 165px;
    right: 268px;
    width: 105px;
    transform-origin: 90% 90%;
}

.monkeyLeftArm {
    position: absolute;
    bottom: 165px;
    right: 186px;
    width: 70px;
    transform-origin: 90% 90%;
}

.monkeyEar {
    position: absolute;
    bottom: 208px;
    right: 185px;
    width: 35px;
}

.monkeyTail {
    position: absolute;
    bottom: 66px;
    right: 268px;
    width: 140px;
    transform-origin: 90% 90%;
}

.boyBox {
    position: absolute;
    bottom: 0;
    right: 0;
}

.boyBody {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 356px;
    height: 632px;
}

.boyHead {
    position: absolute;
    bottom: 300px;
    right: 46px;
    width: 170px;
    transform-origin: 90% 90%;
}

.boyArm {
    position: absolute;
    bottom: 233px;
    right: 97px;
    width: 100px;
}

.mainTitle_theme_el_art5 {
    position: absolute;
    top: 127px;
    left: 534px;
}

.mainTitle_theme_el_mus5 {
    position: absolute;
    top: 90px;
    right: 50px;
}

.mainTitle_theme_el_pra5 {
    position: absolute;
    top: 105px;
    left: 472px;
}

.mainTitle_theme_el_phy5 {
    position: absolute;
    top: 127px;
    left: 440px;
}

.musBoyBox {
    position: absolute;
    top: 358px;
    left: 560px;
}

.musBoy_body {
    position: absolute;
}

.musBoy_head {
    position: absolute;
    top: -114px;
    left: -44px;
    transform-origin: 50% 95%;
}

.musGirlBox {
    position: absolute;
    top: 376px;
    left: 680px;
}

.musGirl_body {
    position: absolute;
}

.musGirl_head {
    position: absolute;
    top: -75px;
    left: 47px;
    transform-origin: 50% 90%;
}

.musETClBox {
    position: absolute;
    top: 350px;
    left: 350px;
}

.musStar1 {
    position: absolute;
    top: 95px;
    left: 280px;
}

.musStar2 {
    position: absolute;
    top: 135px;
    left: 271px;
}

.musStar3 {
    position: absolute;
    top: 126px;
    left: 321px;
}

.musNote1 {
    position: absolute;
    top: 226px;
    left: 0;
}

.musNote2 {
    position: absolute;
    top: 260px;
    left: -8px;
}

.musNote3 {
    position: absolute;
    top: 238px;
    left: 14px;
}

.musNote4 {
    position: absolute;
    top: 270px;
    left: 18px;
}

.musNote5 {
    position: absolute;
    top: 272px;
    left: 333px;
}

.musNote6 {
    position: absolute;
    top: 298px;
    left: 322px;
}

.musNote7 {
    position: absolute;
    top: 250px;
    left: 320px;
}


