/***
 * file name : webTextBook.css
 * description : webTextBook style file
 * create date : 2018-06-15
 * creator : saltgamer
 ***/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#mainContainer {
    width: 1171px;
    height: 769px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

#mainBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 1171px;
    height: 768px;
    background-image: url('../images/sceneBg.jpg');
    background-repeat: no-repeat;
}


/* mainIndexList*/
.indexListBox {
    position: absolute;
    top: 35px;
    left: 65px;
}

.indexListBox > .firstItem {
    width: 255px;
    height: 50px;
    background-color: #ff9900;
    border: 3px solid #ff8800;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

.firstItemText {
    padding-left: 35px;
    background-image: url('../images/arrowIcon.png');
    background-repeat: no-repeat;
    background-position: 10px 20px;
}


/* mainAniTitle */
.bgPlant {
    position: absolute;
    bottom: 2px;
    right: 120px;
    width: 589px;
}

.monkeyBox {
    position: absolute;
    bottom: 0;
    right: 0;
}

.monkeyBody {
    position: absolute;
    bottom: 12px;
    right: 128px;
    width: 170px;
}

.monkeyHead {
    position: absolute;
    bottom: 156px;
    right: 205px;
    width: 130px;
}

.monkeyRightArm {
    position: absolute;
    bottom: 165px;
    right: 268px;
    width: 105px;
    transform-origin: 90% 90%;
}

.monkeyLeftArm {
    position: absolute;
    bottom: 165px;
    right: 186px;
    width: 70px;
    transform-origin: 90% 90%;
}

.monkeyEar {
    position: absolute;
    bottom: 208px;
    right: 185px;
    width: 35px;
}

.monkeyTail {
    position: absolute;
    bottom: 66px;
    right: 268px;
    width: 140px;
    transform-origin: 90% 90%;
}

.boyBox {
    position: absolute;
    bottom: 0;
    right: 0;
}

.boyBody {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 356px;
}

.boyHead {
    position: absolute;
    bottom: 300px;
    right: 46px;
    width: 170px;
    transform-origin: 90% 90%;
}

.boyArm {
    position: absolute;
    bottom: 233px;
    right: 97px;
    width: 100px;
}

/* Loading */
.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.97);*/
    background-color: #333;
}

.loadingMask {
    /*background-color: #333;*/
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 10px;
    opacity: 0.5;
}

.loadingBarBox {
    width: 50px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -25px;
    text-align: center;
    font-size: 10px;
    z-index: 100;
}

.loadingBarBox .loadingIconBar {
    background-color: #ff9900;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: loadmeRect-animate 1.2s infinite ease-in-out;
    animation: loadmeRect-animate 1.2s infinite ease-in-out;
}

.loadingBarBox .barIcon2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loadingBarBox .barIcon3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.loadingBarBox .barIcon4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loadingBarBox .barIcon5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes loadmeRect-animate {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes loadmeRect-animate {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

