/***
 * file name : webTextBook.css
 * description : webTextBook style file
 * create date : 2018-06-15
 * creator : saltgamer
 ***/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#mainContainer {
    width: 1171px;
    height: 769px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;

    user-select: none;
    -ms-user-select: none;
}

#mainBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 1171px;
    height: 768px;
    background-repeat: no-repeat;
}



/* mainIndexList*/
.indexListBox_theme_el_art1 {
    position: absolute;
    top: 35px;
    left: 65px;
    background-color: #fff;
    box-shadow: 0 1px 0 2px #69b378;
    border-radius: 3px;
 /*   border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;*/

}

.indexListBox_theme_el_art1 > .firstItem_theme_el_art1 {
    width: 255px;
    height: 50px;
    /*background-color: #ff9900;*/
    background: #68cb70; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#68cb70, #58c75e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#68cb70, #58c75e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#68cb70, #58c75e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#68cb70, #58c75e); /* Standard syntax */

    /*box-shadow: 0 3px 0 0 #333;*/
    text-shadow: 0 0 2px #333;
    cursor: pointer;


    border: 2px solid #97dc99;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;

    transition: 2s;
}

.firstItemText {
    padding-left: 35px;
    background-image: url('../images/arrowIcon.png');
    background-repeat: no-repeat;
    background-position: 10px 20px;
}

.secondBox {
    background-color: #fff;
    border-radius: 3px;
    /*padding-bottom: 12px;*/
    /*display: none;*/
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.secondItem_theme_el_art1 {
    color: #343434;
    font-size: 14px;
    font-weight: 900;
    padding-left: 10px;
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    line-height: 25px;

}

.secondItem_theme_el_art1:hover {
    color: #4cbf62;
    cursor: pointer;
}

#mainFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);

}

.mainFooterBox {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
}

.mainFooterUseGuideButton {
    position: absolute;
    top: -53px;
    left: 75px;
    width: 90px;
    height: 30px;

    background: #ec573f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f47258, #e84330); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f47258, #e84330); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f47258, #e84330); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f47258, #e84330); /* Standard syntax */

    box-shadow: 0 3px 5px 0 #ccc;
    text-shadow: 0 0 2px #333;
    cursor: pointer;

    border-radius: 20px;
    border: 3px solid #f1aba1;
    color: #fff;
    font-size: 16px;
    font-weight: 900;

    line-height: 32px;
    padding-left: 25px;


}

.mainFooterGoldStarLogo {
    position: absolute;
    top: -40px;
    right: 50px;
    width: 150px;

}

.mainTHubLogo {
    position: absolute;
    top: 35px;
    right: 65px;
    width: 95px;
    cursor: pointer;

}